[Ll]ibrary/ 
[Tt]emp/ 
[Oo]bj/ 
[Bb]uild*/ 
[Ll]ogs/ 
[Mm]emoryCaptures/ 
UserSettings/ 
*.csproj 
*.unityproj 
*.sln 
*.suo 
*.tmp 
*.user 
*.userprefs 
*.pidb 
*.booproj 
*.svd 
*.pdb 
*.cache 
*.opendb 
.DS_Store 
Thumbs.db 
Desktop.ini 
*.apk 
*.aab 
*.exe 
*.zip 
*.rar 
*.tar 
*.7z 
*.unitypackage 
*.resS
*.dll 
*.mp4 
*.psd 
*.wav 
*.fbx 
*.blend 
*.iso 
*.log 
*.bak 
*.old 
sysinfo.txt 
!.gitignore 
